@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --primary-font: "Rubik", sans-serif;
  --primary-color: hsla(240, 100%, 50%, 0.502);
  --btn-color: hsla(64, 17%, 39%, 0.9);
  --background-color: #f8f8f8;
}

@font-face {
  font-family: "Purgatory";
  src: url("./assets/fonts/Purgatory.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}