@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    padding: 10px 130px;
    box-shadow: 5px 5px 10px red;
}

.logo {
    font-family: var(--primary-font);
    font-weight: 600;
    font-optical-sizing: auto;
    color: var(--background-color);
}

.about-page {
    display: flex;
    gap: 5px;
    align-items: center;
    cursor: pointer;
}

.about-page a {
    text-decoration: none;
    font-weight: 500;
    font-family: var(--primary-font);
    color: black;
    color: var(--background-color);
}
.about-page .icon {
    color: var(--background-color);
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    text-decoration: none;
    font-family: var(--primary-font);
    font-weight: 500;
    background-color: var(--background-color);
    padding: 10px;
    color: var(--btn-color);
    border-radius: 8px;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 100px 80px 130px;
    background-color: #f8f8f8;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    width: 50%;
    max-width: 50%;
}

.haeding-left {
    font-size: 50px;
    display: block;
    font-weight: 600;
    font-family: var(--primary-font);
}

.ask {
    font-family: "Purgatory";
    font-size: 50px;
    color: var(--primary-color);
}
.paragraph {
    font-family: var(--primary-font);
    font-weight: 500;
    width: 80%;
    font-size: 20px;
    font-size: 14px;
}

.ask-btn {
    background-color: red;
    width: 150px;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 8px;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.image {
    background-color: aqua;
    height: 500px;
    width: auto;
    margin-right: 80px;
}
